
<div class="position-absolute top-50 start-50 translate-middle" style="z-index: 100;">
    <form method="GET" class="d-flex flex-column bd-highlight mb-3 d-flex align-items-center" action="/artist-search">
        <input type="text" name="artist" id="artistInput" aria-placeholder="The Beatles">
        <button style="width: fit-content; margin-top: 10px" class="btn btn-danger" type="submit">Search for an Artist</button>
    </form>
</div>
<div class="position-absolute top-50 start-50 translate-middle" style="width: 70vw; height: 70vh; background-image: url(/images/spotify-background.jpeg); background-size: cover; background-repeat:no-repeat">
    <div class="position-absolute top-50 start-50 translate-middle" style="width: 40vw; height: 20vh; background-color:rgba(223, 228, 228, 0.7); background-size: cover; background-repeat:no-repeat">

    </div>
</div>